<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="vh-100 row flex-column align-items-center justify-content-center"
>
  <h2 class="text-center">Login to the App</h2>

  <!-- Email input -->
  <div class="col-12 col-md-8 mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@example.com"
      formControlName="email"
    />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      class="text-danger"
    >
      Email is required and must be a valid email address.
    </div>
  </div>

  <!-- Password input -->
  <div class="col-12 col-md-8 mb-4">
    <label class="form-label" for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="********"
      class="form-control"
      formControlName="password"
    />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
      class="text-danger"
    >
      Password is required.
    </div>
  </div>

  <!-- Submit button -->
  <div class="col-12 col-md-8 col-lg-3">
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loginForm.invalid"
    >
      Sign in
    </button>
  </div>
</form>
